.header {
  margin-top: 0;
  display: flex;
  z-index: 50;
  font-family: "Montserrat", serif;
  flex: 1;
  background-color: #EAEDED;
  flex-direction: column;
  border-right: 50px solid green;

}

.header-top {
  display: flex;
  width: 100%;
  height: 80px;
  margin-top: 40px;
}

.header-top__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.header-logo {
  margin-top: 10px;
  margin-left: 20px;
}

.header-top__navbar {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header-top__seperator {
  width: 100%;
  border: none;
  height: 0;
  display: none;
  margin-top: 0;
  background-color: black;
}

.header-top__navigation {
  display: flex;
  flex: 1;
  font-weight: 600;
  text-transform: uppercase;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 55px;
  font-size: 45px;
  color: green;
}

.header-bottom {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.header-bottom__email {
  font-size: 35px;
  justify-content: center;
}

.header-bottom__email a {
  display: inline-grid;
  font-size: 30px;
  justify-content: space-evenly;
  margin: 10px;
}


.header-bottom__phone {
  margin-right: 0;
}


.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  font-size: 100px;
  font-family: "Montserrat", cursive;

}

.nav-item {
  display: flex;
  border-right: 5px solid green;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  outline: none;
  border-spacing: 10px;
  font-family: "Montserrat", serif;
  font-size: 25px;

}


.nav-item ul.dropdown-menu {
    background: green;
}

.nav-link{

  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  border-spacing: 20px;
}

.navbar-nav{
  border-spacing: 20px;
}



@media all and (min-width: 992px) {
  .navbar .dropdown-menu-end{ right:0; left: auto;  }
  .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; background-color:green; transition:.3s; margin-top:0;  }
  .navbar .nav-item:hover .nav-link{ color: green;  }
  .navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
  .navbar .dropdown-menu.fade-up{ top:180%;  }
  .navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}

.navbar .megamenu{ padding: 1rem; }

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }

}
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media(max-width: 991px){
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto;
    max-height: 90vh;
    margin-top:10px;
  }

  .header {
    display: none;
  }
  .header-top {
    margin-top: 0;
    display: none;
  }
  .navbar {
    display: none;
  }

}
/* ============ mobile view .end// ============ */